@charset "utf-8";
/* CSS Document */

body{
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
	font-size: 15px;
	color: #ffffff;
	background: #DAF7A6;
}
	
#ahm_container{
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
	background: #1c1c1b url(images/templatemo_bg.jpg) repeat-y;
}	
/* menu */

#ahm_menu {
	clear: both;
	width: 960px;
	height: 45px;
	background: #800080;
	
}

#ahm_menu ul {
	padding: 13px 0 0 0;
	margin: 0;
	list-style: none;
}

#ahm_menu ul li{
	display: inline;
}

#ahm_menu ul li a{
	float: left;
	padding: 0 20px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	font-family: 'Bowlby One SC';
	font-size: 17px;
	color: #FFFFFF;
}

# search_bar {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
#ahm_menu li a:hover, #ahm_menu li .current{
	color: #fcf88e;
}
	
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}	

/* content */
#templatemo_content {
	clear: both;
	width: 920px;
	padding: 0 20px;
}

#templatemo_content #templatemo_content_left {
	float: left;
	width: 188px;
	padding: 10px;
	background-color: #171716;
	border: 1px solid #212120;
}

#templatemo_content #templatemo_content_right {
	float: right;
	width: 670px;
}


#templatemo_content_left .templatemo_content_left_section{
	clear: both;
	padding-bottom: 10px;
	border-bottom: 1px solid #2b2b2a;
	margin-bottom: 20px;
}

.templatemo_content_left_section h1 {
	font-size: 14px;
	color: #cbc750;
	padding: 0 0 5px 0;
	margin: 0 0 10px 0;
	border-bottom: 1px dotted #cbc750;
}

.templatemo_content_left_section ul {
	padding: 0;
	margin: 0;
}

.templatemo_content_left_section ul li{
	padding: 0 0 3px 10px;	
	list-style: none;
}

.templatemo_content_left_section ul li a{
	font-weight: normal;
	text-decoration: none;
	color: #969547;
}

.templatemo_content_left_section li a:hover, .templatemo_content_left_section li .current{
	color: #fcf88e;
}





#templatemo_content_right .templatemo_product_box {
	float: left;
	width: 303px;
	height: 210px;
	padding: 10px;
	border: 1px solid #333;
}

#templatemo_content_right h1 {
	padding: 10px;
	margin: 0 0 20px 0;
	font-size: 15px;
	color: #cbc750;
	background: url(images/templatemo_h1_bg.jpg);
}

#templatemo_content_right h2 {
	padding: 0 0 0 0;
	margin: 0 0 20px 0;
	font-size: 12px;
	color: #e6e154;
}

#templatemo_content_right h3 {
	padding: 0;
	margin: 0 0 20px 0;
	font-size: 18px;
	color: #85391f;
}

#templatemo_content_right ul {
	margin: 0 0 20px 0;
	padding: 0 0 0 20px;
	list-style: none;
}

#templatemo_content_right li {
	padding: 0 0 3px 0;
}

#templatemo_content_right .image_panel {
	float: left;
	width: 100px;
	margin-right: 20px;
}

#templatemo_content_right p {
	text-align: justify;
	padding: 0 0 8px 0;
}

.templatemo_product_box h1 span {
	font-weight: normal;
}

.templatemo_product_box img {
	float: left;
	margin-right: 20px;
}

.templatemo_product_box .product_info {
	float: left;
	width: 180px;
}

.product_info p {
	margin-bottom: 15px;
}

/* end of content */


/* footer */
#ahm_footer {
	clear: both;
	width: 960px;
	padding: 20px 0px 20px 0;
	text-align: center;
	border-top: 1px solid #25211e;
	color: #999;
	background-color: #111110;
}

#ahm_footer a{
	color: #fff;
	font-weight: normal;
}
/* end of footer */